{% extends "layout.html" %}

{% block title %}
    Trending
{% endblock %}


{% block main %}
<h2>Top Trending Coins Today</h2>
    <table class="table table-striped">
        <thead>
            <th>Coin Name</th>
            <th>Market Cap Rank</th>
            <th>Price</th>
        </thead>
        <tbody>
            {% for coin in coins %}
            <tr>
                <td><img src = "{{coin['item']['thumb']}}">&nbsp;&nbsp;{{coin["item"]["name"]}}</td>
                <td>{{coin["item"]["market_cap_rank"]}}</td>
                {% if coin["item"]["price_btc"] * btc >= 0.01 %}
                <td>${{ (coin["item"]["price_btc"] * btc)|round(5) }}</td>
                {% else %}
                <td>${{ (coin["item"]["price_btc"] * btc)|round(10) }}</td>
                {% endif %}
                
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}