{% extends "layout.html" %}

{% block title %}
    Portfolio
{% endblock %}

{% block banner %}
    <div id="carouselExampleControls" class="carousel slide" data-ride="carousel" data-interval="10500">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <div class="carousel-caption">
            <p><a href = '/searchlink/bitcoin' class = "carousellink"><img src = "https://assets.coingecko.com/coins/images/1/large/bitcoin.png?1547033579" alt="Bitcoin Image" style = "width: 25px; max-height: 25px; margin-bottom:4px"> Bitcoin</a> &emsp;&emsp; <span class = "nowrap">Price: {{bitprice}}</span> &emsp; <span class = "nowrap">24 Hour Change: {% if bit24 >= 0 %}<span style = "color: green">+{{bit24}}%</span>{% endif %}{% if bit24 < 0 %}<span style = "color: red">{{bit24}}%</span>{% endif %}</span> &emsp; <span class = "nowrap">Market Cap: {{bitcap}}</span> &emsp; <span class = "nowrap">24 Hour Volume: {{bitvol}}</span></p>
          </div>
        </div>
        <div class="carousel-item">
          <div class="carousel-caption">
            <p><a href = '/searchlink/ethereum' class = "carousellink"><img src = "https://assets.coingecko.com/coins/images/279/large/ethereum.png?1595348880" alt="Ethereum Image" style = "width: 25px; max-height: 25px; margin-bottom:4px"> Ethereum</a> &emsp;&emsp; <span class = "nowrap">Price: {{etherprice}}</span> &emsp; <span class = "nowrap">24 Hour Change: {% if ether24 >= 0 %}<span style = "color: green">+{{ether24}}%</span>{% endif %}{% if ether24 < 0 %}<span style = "color: red">{{ether24}}%</span>{% endif %}</span> &emsp; <span class = "nowrap">Market Cap: {{ethercap}}</span> &emsp; <span class = "nowrap">24 Hour Volume: {{ethervol}}</span></p>
          </div>
        </div>
        <div class="carousel-item">
          <div class="carousel-caption">
            <p><a href = '/searchlink/dogecoin' class = "carousellink"><img src = "https://assets.coingecko.com/coins/images/5/large/dogecoin.png?1547792256" alt="Dogecoin Image" style = "width: 25px; max-height: 25px; margin-bottom:4px"> Dogecoin</a> &emsp;&emsp; <span class = "nowrap">Price: {{dogeprice}}</span> &emsp; <span class = "nowrap">24 Hour Change: {% if doge24 >= 0 %}<span style = "color: green">+{{doge24}}%</span>{% endif %}{% if doge24 < 0 %}<span style = "color: red">{{doge24}}%</span>{% endif %}</span> &emsp; <span class = "nowrap">Market Cap: {{dogecap}}</span>&emsp; <span class = "nowrap">24 Hour Volume: {{dogevol}}</span></p>
          </div>
        </div>
        <div class="carousel-item">
          <div class="carousel-caption">
            <p><a href = '/searchlink/tether' class = "carousellink"><img src = "https://assets.coingecko.com/coins/images/325/large/Tether-logo.png?1598003707" alt="Tether Image" style = "width: 25px; max-height: 25px; margin-bottom:4px"> Tether</a> &emsp;&emsp; <span class = "nowrap">Price: {{tetherprice}}</span> &emsp; <span class = "nowrap">24 Hour Change: {% if tether24 >= 0 %}<span style = "color: green">+{{tether24}}%</span>{% endif %}{% if tether24 < 0 %}<span style = "color: red">{{tether24}}%</span>{% endif %}</span> &emsp; <span class = "nowrap">Market Cap: {{tethercap}}</span> &emsp; <span class = "nowrap">24 Hour Volume: {{tethervol}}</span></p>
          </div>
        </div>
      </div>
      <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
{% endblock %}


{% block main %}
    <table class="table table-striped" style = "margin-bottom: 30px;">
        <thead>
            <th>Coin</th>
            <th>Shares</th>
            <th>Price</th>
            <th>Total</th>
        </thead>
        <tbody>
            {% for coin in coins %}
            <tr>
                <td>{{coin["name"]}}</td>
                <td>{{coin["shares"]}}</td>
                <td>${{coin["price"]}}</td>
                <td>{{coin["total"]}}</td>
            </tr>
            {% endfor %}
            <tr>
                
                <td colspan = "3" style = "font-weight: bold">CASH</td>
                <td>{{cash}}</td>
            </tr>
        </tbody>
        <tfoot>
            <tr>
                <td colspan ="3"></td>
                <td>{{fulltotal}}</td>
            </tr>
        </tfoot>
    </table>
{% endblock %}