{% extends "layout.html" %}

{% block title %}
    Quote
{% endblock %}

{% block main %}
    <form action="/quote" method="post">
        <div class="form-group">
            <input autocomplete="off" autofocus class="form-control" name="symbol" placeholder="Ticker Symbol" type="text">
            <button class="btn btn-primary" type="submit" style = "margin-left: 8px; margin-bottom: 4px;">Quote</button>
        </div>
    </form>
    {% if coin != None %}
    <h2 style = "padding-bottom:15px"><img src = "{{coin[0]['image']}}" style = "width: 50px; max-height: 50px;"> {{coin[0]["name"] + " "}}Price: ${{coin[0]["current_price"]}}</h2>
    <h2 style = "padding-bottom:15px">Market Cap: ${{coin[0]["market_cap"]}}</h2>
    <h2 style = "padding-bottom:15px">ID: {{coin[0]["id"]}}</h2>
    <h2 style = "padding-bottom:15px">24 Hour Price Change: {{coin[0]["price_change_percentage_24h"]}}%</h2>
    
    {% endif %}
    
{% endblock %}